:root {
  --palette-placeholder-text: #787675;
  --color-white: #fff !important;
  --color-off-white: #f8f6f2 !important;
  --color-black: #262833;
  --color-gray: #4e5a66;
  --color-gray-dark: #06172a;
  --color-gray-light: #8b9aa8;
  --color-gray-darkest: #111111;
  --color-gray-lighter: #a7b3bd;
  --color-gray-lightest: #d4d9df;
  --color-blue-light: #54a1f3;
  --color-blue-lighter: #92bcea;
  --color-blue-lightest: #e4ecf2;
  --color-primary: #4fc9da !important;
  --color-success: #4fc9da !important;
  --color-danger: #e03710 !important;
  --color-warning: purple;
  --color-muted: #586571;
  --color-muted-background: #f3f6f9;
  --color-content-background: #1b2a3a;
  --color-link-hover: #2687ef;
  --color-transparent: #ff000000;
  --color-tip-bg: #333333;
  --color-white-with-transparency: #ffffff40;
  --loader-bg: #642b73;
  --user-list-bg: #f8f6f2 !important;
  --list-item-bg-hover: #dce4ed;
  --toolbar-list-bg: #ddd;
  --toolbar-list-bg-focus: #c6c6c6;
  --btn-default-color: #fff !important;
  --btn-default-bg: #4fc9da;
  --btn-primary-color: #fff !important;
  --btn-primary-bg: #4fc9da !important;
  --user-color: #4fc9da !important;
}

#layout {
  background-image: url(./background-image.jpg) !important;
  background-attachment: fixed !important;
}

div[class^="presentationContainer"] > div[class^="presentation"] {
  background-image: url(./background-image.jpg) !important;
  background-attachment: fixed !important;
}

div[class^="screenshareContainerPresenter"] {
  background-image: url(./background-image.jpg) !important;
  background-attachment: fixed !important;
}

.icon-bbb-group_chat {
  color: var(--color-primary);
}
.icon-bbb-copy {
  color: var(--color-primary) !important;
}

.icon-bbb-closed_caption {
  color: var(--color-primary) !important;
}

.normal--2buOMv .bar--3tmgA {
  background-color: #fff !important;
}
.presentationToolbarWrapper--Z2d8py5 i {
  color: #000 !important;
}
.default--Z19H5du {
  color: #000 !important;
}
.scrollStyle--Ckr4w {
  background: linear-gradient(#f8f6f2 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), #f8f6f2 70%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100% !important;
}
.react-toggle-track {
  background-color: #ddf8fc !important;
}
.muted--2og8uq:after {
  background-color: #f06445 !important;
}
.danger--Z2aBq0k {
  background-color: #f06445 !important;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0 0 2px 3px #4fc9da !important;
}
.avatar--Z2lyL8K.moderator--24bqCT.presenter--Z1INqI5.voice--2oPUk4 {
  background-color: #4fc9da !important;
}

.avatar--Z2lyL8K.moderator--24bqCT.presenter--Z1INqI5.muted--2og8uq.voice--2oPUk4 {
  background-color: #4fc9da !important;
}
.avatar--Z2lyL8K.muted--2og8uq.voice--2oPUk4 {
  background-color: #4fc9da !important;
}
.avatar--Z2lyL8K.initials--Z2l7TE3 {
  background-color: #4fc9da !important;
}
.avatar--Z2lyL8K.voice--2oPUk4 {
  background-color: #4fc9da !important;
}
.talking--2eGaCj {
  background-color: #4fcd9a !important;
}
.presentationToolbarWrapper--Z2d8py5 select option {
  color: #000 !important;
}
.avatar--Z2lyL8K.moderator--24bqCT.avatar--Z20xpIn {
  background-color: #4fc9da !important;
}
.avatar--Z2lyL8K.avatar--Z20xpIn {
  background-color: #4fc9da !important;
}
